# Dependency directories
node_modules/

database.sqlite

# Environment variables file
.env
.env.*

# TypeScript build output
dist/

# Log files
*.log

# Visual Studio Code specific files
.vscode/
*.code-workspace

# macOS specific files
.DS_Store


